# Introduction to Support Vector Machines with a Trading Example

This notebook is about how to implement a Support Vector Machines model in a financial markets example, taken from [this blog post on 'Towards Data Science'](https://towardsdatascience.com/intro-to-support-vector-machines-with-a-trading-example-1d4a7997ced6).

In [1]:
from bs4 import BeautifulSoup
import datetime, json
import numpy as np
import pandas as pd
import requests, time, warnings
warnings.simplefilter('ignore')

In [2]:
# requires the TA-lib package
import talib as ta
from talib import MA_Type

In [3]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import metrics, svm

In [4]:
import matplotlib.pyplot as plt
from matplotlib.dates import DateFormatter
import matplotlib.ticker as ticker

In [5]:
Dow_Page = requests.get('https://finance.yahoo.com/quote/%5EDJI/components?p=%5EDJI')
Dow_Content = Dow_Page.content

In [11]:
soup = BeautifulSoup(Dow_Content)
data = list(soup.findAll("td",{"class":"Py(10px) Ta(start) Pend(10px)"}))

In [12]:
Ticker_List = []
for i in data:
    TempData = str(i)
    if "title" in TempData:
        TempData = TempData[TempData.find("title"):]
        TempData = TempData[TempData.find(">")+1:TempData.find("<")]
        Ticker_List.append(TempData)
    else:
        continue

In [15]:
Start_Date = int(time.mktime((2014,10,28,4,0,0,0,0,0)))
End_Date = int(time.mktime((2019,10,28,4,0,0,0,0,0)))

In [13]:
def ScrapeYahoo(data_df,ticker, start, end):
    
    # form the URL to be scraped
    Base_Url = 'https://query1.finance.yahoo.com/v8/finance/chart/'
    Scrape_Url = Base_Url + ticker + "?period1=" + str(start)+"&period2="+str(end)+"&interval=1d"
    
    # get data from page
    r = requests.get(Scrape_Url)
    Page_Data = r.json()
    
    # compile data into a DataFrame
    Stock_df = pd.DataFrame()
    Stock_df['DateTime'] = Page_Data['chart']['result'][0]['timestamp']
    Stock_df['DateTime'] = Stock_df['DateTime'].apply(lambda x: datetime.datetime.fromtimestamp(x).date().isoformat())
    Stock_df["Open"] = Page_Data["chart"]["result"][0]["indicators"]["quote"][0]["open"]
    Stock_df["High"] = Page_Data["chart"]["result"][0]["indicators"]["quote"][0]["high"]
    Stock_df["Low"] = Page_Data["chart"]["result"][0]["indicators"]["quote"][0]["low"]
    Stock_df["Close"] = Page_Data["chart"]["result"][0]["indicators"]["quote"][0]["close"]
    Stock_df["Volume"] = Page_Data["chart"]["result"][0]["indicators"]["quote"][0]["volume"]
    Stock_df = Stock_df.set_index("DateTime")
    
    # add data to a dictionary containing all values
    data_df[ticker] =  Stock_df

In [22]:
Stock_Data = {}

for i in Ticker_List:
    ScrapeYahoo(Stock_Data, i, Start_Date, End_Date)
#     print(i + " done")
#     time.sleep(0.5)

In [23]:
Stock_Data

{'V':                   Open        High         Low       Close    Volume
 DateTime
 2014-10-28   53.652500   54.215000   53.514999   54.177502  10497600
 2014-10-29   54.077499   54.599998   53.437500   53.665001  16095200
 2014-10-30   57.132500   59.820000   57.005001   59.162498  50857600
 2014-10-31   59.322498   60.625000   59.322498   60.357498  24956000
 2014-11-03   60.244999   60.799999   59.750000   60.384998  12716000
 ...                ...         ...         ...         ...       ...
 2019-10-22  177.000000  177.789993  170.779999  170.860001  10094700
 2019-10-23  170.990005  172.169998  170.179993  171.320007   7122300
 2019-10-24  173.419998  176.869995  173.399994  176.160004   7872600
 2019-10-25  174.929993  179.149994  173.500000  177.850006  10125100
 2019-10-28  178.929993  180.179993  178.350006  179.839996  10084200

 [1259 rows x 5 columns],
 'MCD':                   Open        High         Low       Close    Volume
 DateTime
 2014-10-28   92.480003   92.599998   91.690002   92.599998   5083000
 2014-10-29   92.650002   93.120003   92.000000   92.730003   5295900
 2014-10-30   92.570000   93.389999   92.489998   93.379997   3965500
 2014-10-31   93.900002   94.010002   92.830002   93.730003   6795900
 2014-11-03   93.779999   93.779999   93.019997   93.610001   4064900
 ...                ...         ...         ...         ...       ...
 2019-10-22  205.089996  205.250000  199.149994  199.270004  10265400
 2019-10-23  200.110001  201.139999  198.020004  199.210007   7943700
 2019-10-24  199.539993  199.550003  195.789993  196.020004   4955600
 2019-10-25  196.100006  196.649994  194.399994  194.610001   4773100
 2019-10-28  194.979996  195.320007  191.500000  191.779999   7704300

 [1259 rows x 5 columns],
 'DIS':                   Open        High         Low       Close   Volume
 DateTime
 2014-10-28   89.040001   89.959999   88.949997   89.930000  4554400
 2014-10-29   89.839996   90.250000   88.949997   89.529999  5442100
 2014-10-30   89.440002   90.540001   88.910004   90.220001  4445300
 2014-10-31   91.510002   91.980003   90.750000   91.379997  7472200
 2014-11-03   91.239998   91.820000   91.000000   91.709999  5447700
 ...                ...         ...         ...         ...      ...
 2019-10-22  133.149994  133.679993  132.100006  132.399994  9291600
 2019-10-23  132.449997  132.679993  130.759995  131.130005  5970800
 2019-10-24  131.520004  131.699997  129.630005  130.259995  5746300
 2019-10-25  130.500000  131.759995  130.029999  130.899994  6694500
 2019-10-28  131.449997  132.080002  130.139999  130.529999  8937600

 [1259 rows x 5 columns],
 'MRK':                  Open       High        Low      Close    Volume
 DateTime
 2014-10-28  56.599998  56.599998  54.099998  55.849998  23961200
 2014-10-29  56.020000  56.610001  55.630001  56.200001  12492900
 2014-10-30  55.709999  57.389999  55.700001  57.310001  12866600
 2014-10-31  57.950001  58.130001  57.660000  57.939999  14066100
 2014-11-03  57.950001  58.930000  57.570000  58.919998  10178900
 ...               ...        ...        ...        ...       ...
 2019-10-22  82.000000  82.680000  80.250000  81.300003  17775800
 2019-10-23  81.290001  82.870003  81.160004  82.870003   8122100
 2019-10-24  83.110001  83.639999  82.040001  82.580002   4993100
 2019-10-25  82.269997  82.849998  82.029999  82.260002   7506800
 2019-10-28  82.730003  83.470001  80.339996  82.199997  14838800

 [1259 rows x 5 columns],
 'KO':                  Open       High        Low      Close    Volume
 DateTime
 2014-10-28  40.759998  40.860001  40.509998  40.560001  18658700
 2014-10-29  40.650002  41.029999  40.520000  40.959999  25761800
 2014-10-30  41.000000  41.590000  40.830002  41.400002  18295600
 2014-10-31  41.830002  41.889999  41.400002  41.880001  18477700
 2014-11-03  41.790001  42.279999  41.590000  41.810001  13230600
 ...               ...        ...        ...        ...       ...
 2019-10-22  54.230000  54.419998  53.740002  53.849998   9533400
 2019-10-23  54.060001  54.660000  54.009998  54.639999   8556600
 2019-10-24  54.570000  54.820000  54.490002  54.610001  11051400
 2019-10-25  54.549999  54.560001  53.669998  53.750000   9781000
 2019-10-28  53.740002  53.950001  53.369999  53.570000   8865300

 [1259 rows x 5 columns],
 'PFE':                  Open       High        Low      Close    Volume
 DateTime
 2014-10-28  29.170000  29.299999  28.860001  29.090000  32382400
 2014-10-29  29.150000  29.629999  29.040001  29.490000  27338700
 2014-10-30  29.389999  29.980000  29.389999  29.840000  21097200
 2014-10-31  30.010000  30.200001  29.809999  29.950001  25195200
 2014-11-03  29.900000  30.200001  29.860001  30.190001  21734700
 ...               ...        ...        ...        ...       ...
 2019-10-22  36.410000  36.700001  36.250000  36.430000  13804000
 2019-10-23  36.310001  36.779999  36.220001  36.770000  13283300
 2019-10-24  36.750000  36.840000  36.259998  36.389999  18973800
 2019-10-25  36.400002  36.880001  36.310001  36.770000  16600500
 2019-10-28  36.860001  37.480000  36.820000  37.279999  24469000

 [1259 rows x 5 columns],
 'CSCO':                  Open       High        Low      Close    Volume
 DateTime
 2014-10-28  23.820000  24.070000  23.820000  24.070000  17798600
 2014-10-29  24.010000  24.299999  23.920000  24.100000  18885500
 2014-10-30  24.000000  24.150000  23.879999  24.080000  32212000
 2014-10-31  24.590000  24.639999  24.180000  24.469999  30379100
 2014-11-03  24.450001  24.590000  24.450001  24.580000  16383400
 ...               ...        ...        ...        ...       ...
 2019-10-22  47.500000  47.889999  47.400002  47.549999  15067100
 2019-10-23  47.470001  47.700001  46.840000  47.049999  15647100
 2019-10-24  47.230000  47.230000  46.099998  46.410000  18338800
 2019-10-25  46.540001  46.990002  46.459999  46.900002  15697600
 2019-10-28  47.150002  47.599998  47.060001  47.169998  13858500

 [1259 rows x 5 columns],
 'TRV':                   Open        High         Low       Close   Volume
 DateTime
 2014-10-28   99.290001   99.800003   99.080002   99.730003  2751900
 2014-10-29   99.970001  100.169998   99.059998   99.419998  2049900
 2014-10-30   99.099998  100.529999   99.070000  100.000000  2715900
 2014-10-31  101.120003  101.190002  100.580002  100.800003  2349600
 2014-11-03  100.809998  100.910004   99.940002   99.949997  3703500
 ...                ...         ...         ...         ...      ...
 2019-10-22  132.570007  133.750000  129.820007  130.149994  3551600
 2019-10-23  130.070007  133.029999  129.690002  132.160004  1933900
 2019-10-24  132.339996  132.729996  131.039993  131.429993  1281500
 2019-10-25  131.050003  131.440002  129.500000  130.429993  1342300
 2019-10-28  130.750000  131.199997  129.229996  129.300003  1525500

 [1259 rows x 5 columns],
 'UTX':                   Open        High         Low       Close   Volume
 DateTime
 2014-10-28  104.959999  106.519997  104.860001  106.269997  4173500
 2014-10-29  106.720001  107.269997  105.419998  105.849998  4060700
 2014-10-30  105.209999  106.589996  104.699997  106.339996  2890500
 2014-10-31  107.830002  107.949997  106.980003  107.000000  4461100
 2014-11-03  107.419998  107.500000  106.029999  106.300003  4587600
 ...                ...         ...         ...         ...      ...
 2019-10-22  140.820007  142.240005  138.929993  141.410004  6635800
 2019-10-23  140.830002  141.440002  139.210007  139.910004  3350700
 2019-10-24  140.500000  143.839996  140.029999  143.440002  4553400
 2019-10-25  143.350006  144.199997  142.809998  142.960007  3193300
 2019-10-28  143.270004  144.630005  142.309998  143.039993  2374500

 [1259 rows x 5 columns],
 'CVX':                   Open        High         Low       Close    Volume
 DateTime
 2014-10-28  116.169998  117.269997  115.160004  117.129997   7272600
 2014-10-29  118.000000  118.930000  116.099998  117.139999   6873700
 2014-10-30  116.180000  117.250000  115.570000  117.199997   5174400
 2014-10-31  118.349998  120.169998  116.389999  119.949997  10669500
 2014-11-03  119.830002  119.970001  116.459999  116.779999  10343300
 ...                ...         ...         ...         ...       ...
 2019-10-22  116.629997  118.559998  116.489998  117.800003   4095000
 2019-10-23  117.400002  118.019997  116.779999  117.980003   4148500
 2019-10-24  118.470001  118.809998  117.309998  117.580002   3873900
 2019-10-25  117.769997  118.849998  117.690002  118.669998   3369100
 2019-10-28  119.080002  119.510002  117.639999  118.480003   5076200

 [1259 rows x 5 columns],
 'XOM':                  Open       High        Low      Close    Volume
 DateTime
 2014-10-28  94.440002  95.199997  93.930000  95.099998  12564100
 2014-10-29  95.419998  95.980003  93.620003  94.589996  12409100
 2014-10-30  93.870003  94.669998  93.220001  94.449997   9767900
 2014-10-31  94.989998  96.889999  94.309998  96.709999  17493700
 2014-11-03  96.559998  97.099998  94.800003  95.260002  13410000
 ...               ...        ...        ...        ...       ...
 2019-10-22  68.779999  69.760002  68.650002  69.089996   9536000
 2019-10-23  68.959999  69.760002  68.779999  69.750000   8641800
 2019-10-24  69.959999  70.050003  69.019997  69.089996   9003600
 2019-10-25  68.900002  69.480003  68.900002  69.250000   7606200
 2019-10-28  69.459999  69.669998  68.580002  68.639999  11209100

 [1259 rows x 5 columns],
 'MSFT':                   Open        High         Low       Close    Volume
 DateTime
 2014-10-28   45.860001   46.500000   45.770000   46.490002  29049800
 2014-10-29   46.439999   46.700001   46.340000   46.619999  30276100
 2014-10-30   46.320000   46.320000   45.770000   46.049999  30073900
 2014-10-31   46.939999   46.970001   46.480000   46.950001  35849700
 2014-11-03   46.889999   47.459999   46.730000   47.439999  23130400
 ...                ...         ...         ...         ...       ...
 2019-10-22  138.970001  140.009995  136.259995  136.369995  27431000
 2019-10-23  136.880005  137.449997  135.610001  137.240005  29844600
 2019-10-24  139.389999  140.419998  138.669998  139.940002  37029300
 2019-10-25  139.339996  141.139999  139.199997  140.729996  25274600
 2019-10-28  144.399994  145.669998  143.509995  144.190002  35243000

 [1259 rows x 5 columns],
 'AXP':                   Open        High         Low       Close   Volume
 DateTime
 2014-10-28   87.070000   88.010002   86.959999   88.010002  3598400
 2014-10-29   88.239998   88.989998   87.650002   88.339996  4592500
 2014-10-30   88.589996   89.489998   88.199997   88.739998  5072900
 2014-10-31   89.940002   90.599998   89.370003   89.949997  6848600
 2014-11-03   90.320000   91.209999   90.220001   90.849998  3707900
 ...                ...         ...         ...         ...      ...
 2019-10-22  118.669998  119.349998  118.290001  118.610001  3912100
 2019-10-23  118.419998  119.230003  115.510002  116.489998  3921100
 2019-10-24  116.440002  116.900002  116.139999  116.410004  2551300
 2019-10-25  116.360001  118.510002  116.269997  118.260002  2324800
 2019-10-28  118.639999  119.300003  118.070000  118.580002  2551100

 [1259 rows x 5 columns],
 'VZ':                  Open       High        Low      Close    Volume
 DateTime
 2014-10-28  49.700001  50.029999  49.610001  49.959999  13245900
 2014-10-29  50.049999  50.250000  49.549999  49.830002  11724200
 2014-10-30  49.630001  50.279999  49.500000  49.900002  11979100
 2014-10-31  50.419998  50.500000  50.070000  50.250000  17777600
 2014-11-03  50.490002  50.650002  50.049999  50.389999  11574000
 ...               ...        ...        ...        ...       ...
 2019-10-22  61.230000  61.230000  60.509998  60.770000   9603600
 2019-10-23  60.599998  61.320000  60.549999  60.880001  10375600
 2019-10-24  60.880001  61.020000  60.410000  60.580002  11143800
 2019-10-25  60.599998  60.880001  59.209999  60.369999  15035000
 2019-10-28  60.450001  60.660000  60.040001  60.180000  14621000

 [1259 rows x 5 columns],
 'WMT':                   Open        High         Low       Close   Volume
 DateTime
 2014-10-28   76.629997   76.800003   76.000000   76.349998  4979600
 2014-10-29   76.550003   76.639999   75.970001   76.389999  5759700
 2014-10-30   76.169998   76.599998   75.980003   76.449997  4872400
 2014-10-31   76.889999   77.400002   76.010002   76.269997  7570700
 2014-11-03   76.349998   76.379997   75.589996   76.279999  6894400
 ...                ...         ...         ...         ...      ...
 2019-10-22  119.750000  120.169998  119.389999  119.580002  2544700
 2019-10-23  119.169998  119.849998  118.690002  119.349998  2840000
 2019-10-24  119.150002  119.570000  118.510002  119.099998  2900300
 2019-10-25  119.000000  119.330002  118.199997  119.040001  2564100
 2019-10-28  119.250000  119.699997  118.529999  119.220001  3404300

 [1259 rows x 5 columns],
 'PG':                   Open        High         Low       Close    Volume
 DateTime
 2014-10-28   86.199997   86.650002   86.169998   86.470001   9437700
 2014-10-29   86.669998   86.669998   85.910004   86.540001   6880600
 2014-10-30   86.160004   87.000000   85.669998   86.940002   5560300
 2014-10-31   87.080002   87.360001   86.709999   87.269997   9359800
 2014-11-03   86.660004   87.389999   86.199997   87.379997   7789500
 ...                ...         ...         ...         ...       ...
 2019-10-22  124.000000  124.220001  121.599998  122.180000  14410500
 2019-10-23  121.989998  123.730003  121.839996  123.000000   8249300
 2019-10-24  123.760002  125.769997  123.339996  124.790001   6725600
 2019-10-25  124.820000  124.820000  123.169998  123.250000   6092200
 2019-10-28  123.480003  124.120003  122.599998  123.480003   5459100

 [1259 rows x 5 columns],
 'HD':                   Open        High         Low       Close   Volume
 DateTime
 2014-10-28   95.910004   96.599998   95.500000   96.589996  5260100
 2014-10-29   96.620003   97.250000   95.800003   96.419998  4275400
 2014-10-30   96.120003   97.800003   96.029999   97.519997  4115800
 2014-10-31   98.779999   99.260002   97.330002   97.519997  6335900
 2014-11-03   96.809998   96.830002   95.980003   96.089996  7614200
 ...                ...         ...         ...         ...      ...
 2019-10-22  237.300003  238.300003  236.520004  237.199997  2003200
 2019-10-23  236.660004  237.410004  234.360001  234.669998  2110500
 2019-10-24  234.809998  236.369995  233.070007  233.889999  2173900
 2019-10-25  233.490005  235.419998  232.550003  234.380005  2210700
 2019-10-28  234.949997  236.960007  234.559998  236.800003  2704800

 [1259 rows x 5 columns],
 'JNJ':                   Open        High         Low       Close    Volume
 DateTime
 2014-10-28  104.550003  104.800003  103.559998  104.790001  10347800
 2014-10-29  105.000000  105.559998  104.860001  105.559998   8188300
 2014-10-30  105.169998  107.050003  104.910004  107.040001   9068300
 2014-10-31  107.940002  108.180000  107.260002  107.779999  10800100
 2014-11-03  107.830002  108.120003  106.750000  107.459999   7082600
 ...                ...         ...         ...         ...       ...
 2019-10-22  128.759995  130.539993  128.089996  129.199997   7613700
 2019-10-23  129.660004  130.479996  129.070007  129.899994   6693400
 2019-10-24  130.419998  130.580002  126.099998  127.500000  12111600
 2019-10-25  127.830002  129.100006  127.309998  128.350006   6946700
 2019-10-28  128.619995  130.000000  128.509995  129.179993   7875900

 [1259 rows x 5 columns],
 'NKE':                  Open       High        Low      Close    Volume
 DateTime
 2014-10-28  45.764999  46.224998  45.654999  46.224998   6358400
 2014-10-29  46.080002  46.270000  45.709999  45.974998   4998600
 2014-10-30  45.884998  46.500000  45.775002  46.500000   4585200
 2014-10-31  47.064999  47.070000  46.334999  46.485001   6463600
 2014-11-03  46.674999  46.740002  46.435001  46.724998   4862800
 ...               ...        ...        ...        ...       ...
 2019-10-22  96.059998  96.830002  95.519997  95.599998   5470100
 2019-10-23  95.029999  95.540001  92.120003  92.320000  11933600
 2019-10-24  92.680000  92.870003  90.989998  91.500000  12085800
 2019-10-25  91.440002  91.830002  90.750000  90.919998   8146300
 2019-10-28  91.059998  91.300003  90.169998  90.849998  10304300

 [1259 rows x 5 columns],
 'JPM':                   Open        High         Low       Close    Volume
 DateTime
 2014-10-28   58.869999   59.689999   58.810001   59.630001  13625000
 2014-10-29   59.619999   59.779999   58.759998   59.290001  16712100
 2014-10-30   58.939999   59.680000   58.919998   59.389999  14709800
 2014-10-31   60.119999   60.540001   59.869999   60.480000  18347600
 2014-11-03   60.790001   61.150002   60.360001   60.880001  11841200
 ...                ...         ...         ...         ...       ...
 2019-10-22  123.449997  125.099998  123.120003  124.790001  12549100
 2019-10-23  124.199997  125.150002  124.169998  125.120003   8828300
 2019-10-24  125.290001  125.660004  124.070000  125.029999   8020500
 2019-10-25  125.000000  126.650002  124.750000  126.029999   9054100
 2019-10-28  126.570000  127.209999  126.400002  126.510002   9520800

 [1259 rows x 5 columns],
 'INTC':                  Open       High        Low      Close    Volume
 DateTime
 2014-10-28  33.230000  33.750000  33.230000  33.740002  21857800
 2014-10-29  33.759998  33.970001  33.509998  33.919998  24615200
 2014-10-30  33.580002  33.610001  32.400002  32.580002  55217900
 2014-10-31  33.740002  34.009998  32.630001  34.009998  52089700
 2014-11-03  33.810001  34.480000  33.790001  34.310001  28703600
 ...               ...        ...        ...        ...       ...
 2019-10-22  51.900002  52.320000  51.889999  52.009998  13114300
 2019-10-23  51.369999  51.959999  51.200001  51.720001  15887500
 2019-10-24  52.090000  52.430000  51.430000  52.230000  23413000
 2019-10-25  54.189999  56.610001  53.919998  56.459999  59752600
 2019-10-28  56.380001  56.810001  56.060001  56.759998  32305400

 [1259 rows x 5 columns],
 'IBM':                   Open        High         Low       Close   Volume
 DateTime
 2014-10-28  162.000000  163.600006  161.800003  163.600006  7895300
 2014-10-29  164.330002  164.619995  162.759995  163.460007  4739300
 2014-10-30  163.500000  164.619995  163.020004  164.350006  3896000
 2014-10-31  165.479996  165.589996  163.619995  164.399994  5818000
 2014-11-03  164.250000  164.539993  163.380005  164.360001  4688200
 ...                ...         ...         ...         ...      ...
 2019-10-22  132.550003  134.050003  131.610001  133.960007  4161600
 2019-10-23  133.520004  134.570007  132.699997  134.380005  3610900
 2019-10-24  134.830002  135.070007  133.300003  134.070007  2598500
 2019-10-25  134.119995  135.929993  134.100006  135.440002  2578000
 2019-10-28  136.000000  136.630005  135.449997  135.970001  3225700

 [1259 rows x 5 columns],
 'BA':                   Open        High         Low       Close    Volume
 DateTime
 2014-10-28  122.500000  123.790001  121.959999  123.610001   4159000
 2014-10-29  124.480003  124.480003  122.559998  123.080002   3241700
 2014-10-30  122.519997  124.120003  122.010002  123.820000   2569900
 2014-10-31  125.029999  125.889999  124.730003  124.910004   4665300
 2014-11-03  125.349998  126.250000  124.889999  126.029999   3902700
 ...                ...         ...         ...         ...       ...
 2019-10-22  336.070007  341.480011  334.459991  337.000000   7949700
 2019-10-23  345.000000  350.799988  336.500000  340.500000  10960800
 2019-10-24  341.700012  345.739990  337.769989  344.549988   5382700
 2019-10-25  342.920013  343.369995  338.899994  339.829987   4056000
 2019-10-28  341.500000  344.980011  339.489990  340.880005   3232600

 [1259 rows x 5 columns],
 'GS':                   Open        High         Low       Close   Volume
 DateTime